body {
    background-color: #414141;
    margin: auto;
    overflow-y: scroll; 
    max-width: 100%;
    overflow-x: hidden;
}

.title {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    margin-bottom: 10px;
}

#userinfo {
    padding: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

#comment_field {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    width: 300px;
}

#comment_container {
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    margin: auto;
    padding: 5px;
    width: 800px;
}

.captcha-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#captcha_image, #captcha_input {
    margin: 10px;
}

#captcha_error {
    color: #da5555;
    font-size: 18px;
    font-weight: 600;
}

#comment_container_post {
    border-radius: 5px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    margin: auto;
    width: 600px;
    padding: 10px;
}

#user_line {
    display: inline-flex;
}

#user_icon {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-right: 5px;
}

#individual_comment {
    background-color: #688DC9;
    margin: 5px;
    color: #ffffff;
    border-radius: 3px;
    padding: 10px;
    position: relative;
    margin-bottom: 25px;
}

#individual_comment::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #f0f0f0;
    border-left: 0;
    border-bottom: 0;
    margin-top: -5px;
    background-color: #688DC9;
}

#individual_comment p {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#comment_time {
    font-style: italic;
}

#delete_comment {
    width: 8px;
    height: 8px; 
}

input[type="submit"] {
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
}
#info {
    margin: auto;
    align-items: center;
    color: #fff;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

#nav {
    margin-top: 20px;
    margin-bottom: 50px;
}

.title-status-container h3 {
    margin-right: 10px;
}

.title-status-container {
    display: flex;
    align-items: center;
    height: 50px;
    width: auto;
    justify-content: space-between;
}

.status {
    padding: 3px;
    text-align: center;
    margin-bottom: 22px;
    margin-right: auto;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: #ffffff; /* Common color */
}

#comment {
    width: 50px;
    margin-bottom: 15px;
    display: inline-block;
    margin-right: 0;  
    margin-top: 5px;
}

#comment_icon {
    position: relative;
    display: inline-block;
}

.comment-link {
    display: inline-block;
    position: relative;
}

.comment-number {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Choose a color that contrasts well with the image */
    font-weight: bold;
    font-size: 14px; /* Adjust the font size as needed */
}


#comment:hover {
    scale: 110%;
}

.status-new {
    background-color: #25ad62;
}

.status-active {
    background-color: #17b3da;
}

.status-old {
    background-color: #caa21e;
}

.status-closed {
    background-color: #da5555;
}

#locationimg {
    width: 20px;
    margin-top: 3px;
}

.company {
    font-size: 24px;
}

.location {
    font-size: 20px;
}

#logo {
    height: 140px;
    display: block;
    margin: 0 auto;
    padding-bottom: 25px;
}

#search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;  
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

#searchinput {
    height: 23px;
    width: 300px;
}

#searchlabel {
    font-size: 20px;
}

.btn {
    appearance: none;
    background-color:  #407cc0;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 15px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

#listings {
    margin-bottom: 40px;
}

#pagination {
    margin: auto;
    text-align: center;
    align-items: center;
}

#page_number {
    margin: auto;
    align-items: center;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: #1371af;
    font-weight: bold;
}

form {
    display: flex;         
    align-items: center;    
}

form label {
    margin-right: 10px;  
    color: white;
}

form input {
    margin-right: 10px; 
    border-radius: 3px;
}

#nav ul {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

#username {
    color: #25ad62;
    text-transform: uppercase;
    cursor: pointer;

}

#nav li {
    display: inline-block;
    align-items: center;
    padding-left: 130px;
    padding-right: 130px;
    color: white;
    text-decoration: none;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size: 18px;
    white-space: nowrap;
}

.headerlink {
    text-decoration: none;
    color: white;
}

.headerlink:hover {
    text-decoration: underline; 
}

.timestamp {
    padding-bottom: 10px;
}

#JobWatch {
    height: 70px;
    text-align: center;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    color: white;
    font-size: 64px;
    margin: 10px;
}

.green-text {
    color:  #407cc0;
}

#future {
    color: white;
    text-align: center;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    margin: 5px;
    margin-bottom: 50px;
}

#main-container {
    margin: auto;
    border-radius: 5px;
    width: 1200px;
    height: auto;
}

#news, #listings, #resources {
    background-color: white;
    border-radius: 5px;
}

#postListing {
    padding: 20px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}

#no_results {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #ff0000;  /* You can change this color */
    margin-top: 20px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.listing_container {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #ffffff;
}

#listings {
    padding-bottom: 5px;
}

#postListing button {
    width: auto;
    text-align: center;
    font-size: 22px;
    height: 50px;
    background-color: #407cc0;
}

#post_url {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    background-color: #1371af;
    padding: 5px;
    border-radius: 3px;
}

#post_title {
    color: #407cc0;
    font-size: 28px;
    font-weight: bold;
}

.updated {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    text-align: center;
    margin-top: 5px;
    padding-bottom: 20px;
    font-style: italic;
}

.listing_container h3 {
    margin-top: 5px;
    font-size: 28px;
}

.listing_container a {
    text-decoration: none;
}

.listing_container p {
    margin-top: 3px;
    margin-bottom: 0px;
}

#malcolm {
    color: #407cc0;
}

.aboutdiv {
    text-align: center;
    color: white;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

.aboutdiv a {
    color: white; /* Ensure links are also white */
    text-decoration: underline; /* Optional: underline the link for visibility */
}

#signup_title {
    text-align: center;
    margin: auto;
    color: #ffffff;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    margin: 20px;
}

.signup {
    font-size: 16px;
}

#signup_container, #signin_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    align-items: center;
    text-align: center; 
    margin-bottom: 30px;
}

#signupbtn {
    margin: auto;
    display: flex;
}

#signerror {
    display: flex;
    justify-content: center; 
    color: #da5555;
    font-size: 28px; 
    margin: 10px auto; 
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

#edit_post {
    margin-right: 5px;
    width: 30px;
    height: 28px;
}

#delete_comment {
    width: 25px;
    height: 25px;
}

#edit_container {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    width: 1178px;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    border: 1px solid #a1a1a1;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;    
    font-weight: 600;
}

#edit_title {
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 20px;
    font-size: 28px;
    color: #407cc0;
    width: 500px;
    font-weight:700;
    border: none;
    
}

#edit_company {
    width: 500px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 24px;
    border: none;
    margin-bottom: 5px;
}

#edit_location {
    width: 250px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 20px;
    border: none;
    margin-bottom: 3px;
}

#edit_category {
    width: 250px;
    margin-left: 8px;
    margin-right: 8px;
    border: none;
    font-size: 16px;
}

#edit_content {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    margin-left: 8px;
    margin-right: 8px;
    height: auto;
    resize: none;
    overflow: hidden;
    font-size: 16px;
    height: 100%;
    height: 100px;
    border: none;
}

#edit_status {
    margin: 8px;
    width: 100px;
}

#update_post_button {
    width: 150px;
    margin: 8px;
}

#edit_title, #edit_company, #edit_location, #edit_category, #edit_content, #edit_status select:focus {
    outline: none; /
}

#users_list {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    background-color: #f0f0f0;
    width: max-content;
    margin: auto;
    padding: 10px;
    text-align: center;
    margin-bottom: 50px;
}

#users_list label {
    color: #000000;
    margin: 10px;
}


#user_table {
    margin: auto;
    border-collapse: separate;
    border-spacing: 50px 0;
}

#user_table td {
    padding: 10px;
}

#cancel_edit {
    margin: 5px;
    padding: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    color: #000000;
}

.form-actions {
    text-align: center;
    
}

#users_list a {
    display: block;
    margin-top: 1rem;
    text-align: center;
    color: #007bff;
    text-decoration: none;
}

#edit_users_list {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    background-color: #f0f0f0;
    width: max-content;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.useroptions {
    display: flex;
    gap: 10px;
}

.useroptions form {
    margin: 0; 
}